%% {
    init {

        "theme":"base",
        "themeCSS":"* {line-height:1.25em!important; font-size:20px; text-align:left!important;} g[id*=\"A\"] span {font-size:1.01em; color:white; display:block; text-align:center!important} g[id*=\"A\"] rect {fill:black}  g[id*=\"V\"] * {} g[id*=\"B\"] span {font-size:0.9em; color:white; display:block; text-align:center!important} g[id*=\"B\"] rect {fill:#6f0000; stroke:transparent} g[id*=\"C\"] span {font-size:0.75em; display:block;} .edge-thickness-normal{stroke-width:1px; stroke:#999;} .edge-thickness-thick{stroke-width:1px!important} .edge-pattern-dotted{stroke:transparent}",
        "themeVariables": {
            "secondaryColor": "transparent", "primaryColor":"transparent", "primaryBorderColor":"black"
        }

        ,
        "flowchart": {
            "htmlLabels": true, "padding":20, "rankSpacing":50, "nodeSpacing":20
        }
    }
}

%%